.car
    background-color: rgb(174, 182, 169)

@media (min-width: 768px) and (max-width: 1023)
    .lesLi
        margin-right: 5%
        font-size: 0.5rem
    .logoI
        display: none !important
